body{
  font: 13px "Source Sans Pro", Arial, Helvetica, sans-serif;
}
.Contendor{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 569px;
  background-color: #1a1a1a;
  text-align: center;
}
.moving-letters{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.ml11 {
  position: relative;
  width: 100%;
}
.ml11 .line{
  width: 10%;
  position: absolute;
  left: 0;
  height: 90%;
  width: 0.1px;
  background-color: #fff;
}
.had{
  width: 100%;
  font-family: Lato, serif;
}
.had-r1{
  width: 97%;
  color: #fff;
  line-height: 1em;
  font-size: 7em;
  font-weight: 100;
}
.amp{
  width: 100%;
  color: #B81611;
  font-size: 2em;
  font-style: italic;
  vertical-align: bottom;
  margin: 0 -0.35em;
}
.Motivation{
    margin-top: 300px;
    position: relative;
    top: 5%; 
    width: 100%;
    display: flex;
    flex-direction: row;
    place-content: center;
    align-items: center;
}
.Motivation div{
    font-size: 1.1em;
    text-align: center;
    color: #CDCDCD;
    font-family: Passions;
    width: 20%;
    height: 5%;
    margin: 5px;
    padding: 50px;
    transition: 0.3s;
}
.Motivation div :hover{
    cursor: pointer;
     transition: 0.3s;
     color: white;
     transition: 0.3s;
}
.Motivation div h2:hover{
    transform: scale(1.1);
    cursor: pointer;
     transition: 0.3s;
     color: white;
     transition: 0.3s;
}
@media (max-width:1166px){
    .line{
        display: none;
    }
}
.page{
    left: 0.7%;
    margin-top: 20px;
    background: #e2e2e5;
    display: flex;
    flex-direction: column;
    height: 500px ;
    position: absolute;
    place-content: center;
    width: 98.5%;
    z-index: 2;
}
.container {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 60%;
}
.left {
  background: white;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}
.login {
  font-size: 3em;
  font-weight: 600;
  margin: 50px 20px 40px 20px;
}
.Terms{
  font-size: 0.9em;
  font-weight: 100;
  margin: 0px 0px 0px 40px;
}
.eula {
  color: #999;
  font-size: 1em;
  line-height: 1.5;
  margin: 40px;
}
.right {
  background: #474A59;
  box-shadow: 5px 5px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  width: 50%;
}
.form {
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.form label{
    font-weight: 700;
}
.email {
    background: transparent;
    border: 1px solid #848AA6;
    width: 50%;
    color: #f2f2f2;
    transition: color 300ms;
    border-radius: 20px;
    font-size: 1em;
    transition: 0.2s;
}
.email:hover{
    background: #686C82;
    transition: 0.2s;
    transform: scale(1.05);
    width: 55%;
    border: 0;
}
.email:focus{
    transform: scale(1.1);
    background: #686C82;
    transition: 0.2s;
    width: 60%;
    color: transparent;
}
.submit {
     background: transparent;
    border: 1px solid #848AA6;
    width: 30%;
    color: #f2f2f2;
    transition: color 300ms;
    border-radius: 20px;
    font-size: 1em;
    transition: 0.2s;
}
.submit:hover{
    background: #686C82;
    transition: 0.2s;
    transform: scale(1.05);
    width: 35%;
    border: 0;
}
.ContenidoArticle{
    display: flex;
    margin-top: 450px;
    position: absolute;
    width: 100%;
    height: 570px;
    background:#0F1640 ;
    left: 0;
    z-index: 0;
}
.NavArticle{
    position: absolute;
    left: 0;
    top: 85px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 15%;
    align-content: center;
}
.Caja a{
    color: white;
    font-family: Passions;
    font-size: 1.4em;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
}
.Caja:hover{
    color: white;
    transition: 0.2s;
    transform: scale(1.05);
}
.YouMight{
    height: auto;
    text-align: center;
    position: absolute;
    left: 3%;
    top: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    align-content: center;
}
.ChanteFont{
    font-size: 2.3em;
    font-weight: 200;
    color: #B81611;
    font-family: Passions
}
.amp2{
  width: 100%;
  color: #F2F2F2;
  font-weight: 500;
  font-family: Lato;
  font-size: 2em;
  font-style: italic;
  vertical-align: bottom;
  margin: 0 -0.75em;
}
.DiveIt{
    text-align: center;
    place-content: center;
    background: #0F1640;
    display: flex;
    margin-top: 920px;
    position: absolute;
    width: 100%;
    left: 0;
    height: 569px;
}
.ContenedorSection{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 55%;
}
.ContenedorSection div a{
    font-size: 1em;
    color: #f9f9f9;
    text-decoration: none;
    font-weight: 800;
}
.Letter{
    font-size: 1.7em;
    color: white;
}
.FooterFin{
    display: flex;
    place-content: center;
    position: absolute;
    width: 100%;
    height: 200px;
    left: 0;
    margin-top: 1460px;
}
.CajaFooter{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    place-items: center;
    width: 98%;
    height: 100%;
    background: #566573;
}
.ChildFooter{
    border-top: 1px solid #fff;
    width: 30%;
    height: 90%;
    margin: 0px 10px;
}
.ChildFooter ul li{
    margin: 15px 0;
}

